/**폰트*/
@font-face {
  font-family: "maple";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: maple, Arial, sans-serif;
}
