<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>-메-할일</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <script src="/js/main.js" defer></script>
  </head>
  <body class="">
    <header id="header"></header>
    <div id="content-box">
      <form method="post" id="loginForm">
        <div class="login_box">
          <input
            type="text"
            th:value="${id}"
            id="id"
            name="id"
            placeholder="아이디 입력"
          />
          <input
            type="password"
            id="pw"
            name="pw"
            placeholder="비밀번호 입력"
          />
          <input type="submit" id="login" value="로그인" />
          <input type="submit" id="register" value="회원가입" />
        </div>
        <div
          class="errorMSG"
          th:text="${errorMsg}"
          th:style="${errorMsg_Style}"
        ></div>
        <div class="errorMSG" id="idMsg" th:style="${idMsg_Style}">
          아이디: 5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용
          가능합니다.
        </div>
        <div class="errorMSG" id="pwMsg" th:style="${pwMsg_Style}">
          비밀번호: 8~16자의 영문 대/소문자, 숫자, 특수문자를 사용해 주세요.
        </div>
      </form>
      <div class="login"></div>
    </div>
    <footer id="footer"></footer>
  </body>
</html>
