<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>-메-할일</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="/js/clickCharacter.js" defer></script>
    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
  </head>
  <body>
    <div th:each="character : ${characterNames}">
      <div class="character_Box" onclick="clickCharacter(this)">
        <input type="hidden" th:value="${character}" />
        <div th:text="${character}"></div>
      </div>
    </div>
    <div>
      <form method="post" action="/save-character">
        <label for="characterName">캐릭터 이름:</label>
        <input type="text" id="characterName" name="characterName" required />
        <button type="submit">등록</button>
      </form>
    </div>
    <div>
      <form method="post" action="/delete-character">
        <label for="characterName">캐릭터 이름:</label>
        <input type="text" id="characterName" name="characterName" required />
        <button type="submit">삭제</button>
      </form>
    </div>
  </body>
</html>
